@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <img src="~/Content/themes/base/images/paper-with-words-inventory-management-and-charts-GN379W.jpg" />
        </div>
    </div>
